body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  color: #40514E;
}

/*-----------------------------First Page----------------------------*/
.nav-bar {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top:2rem;
  left:4rem;
  margin:0;                       /*-------------NAV BAR------------------ */
}
.nav-bar a {
    text-decoration: none;
    padding-left: 1rem;
    color: #66BFBF;
}
.nav-bar a:hover, a:active {
    text-decoration: none;
    color: #11999E;
}

.top-container {
  position: relative;
  padding-bottom: 30rem;
  background-color: #ecfcff;
}
.header {
  text-align: center;
  font-size: 4rem;
  font-family: 'Arvo', serif;
  font-weight: normal;
  margin:0;
  position: relative;
  top: 10rem;
  color: #66BFBF;
}
.pitch {
  color: #40514E;
  text-align: center;
  word-spacing: 2px;
  display: inline-block;
  position: absolute;
  line-height: 1.5;
  top: 16rem;
  left: 15rem;
}

 /*------------------------------- Second Page --------------------------*/

 .middle-container {
margin:2rem;
position: relative;
left:5rem;
padding-bottom: 25rem;
}

.hr {
  width: 5%;
  border: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: lightgrey;
}
.header2 {
  color: #66BFBF;
  position: absolute;

}
.para2 {
width: 35rem;
position: absolute;
top: 3rem;
}
.languages li {
padding: 5px;
position: relative;
top: 12rem;
}

.css {
  right: 25rem;
  top:2rem;
  position: absolute;
}
.html {
  right: 15rem;
  top:2rem;
  position: absolute;
}

/*-------------------------------- Third Page ----------------------------*/
.messageme {
    background: #45b29a;      /*---------- message me button---------*/
    padding: .5em 1em .5em 1em;
    color: white;
    display: inline-block;
    border-radius: 10%;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: 1.875rem;
      text-align: center;
}
.messageme:hover {
  background: #6ad2bb;
}
.contact {
  margin: 4rem auto 2.5rem auto;
}
.contact-me h2, h3, a {
  color:  #11999E;
  margin: 1rem auto;
}
.contact-me {
  margin: 3.75rem auto 8.75rem auto;
  line-height: 2;
    text-align: center;
}                               /*-------------Footer------------------ */
.bottom-container {
  background-color: #e1faff;
  padding: 3.125rem;
  padding-bottom: 5px;
  text-align: center;
}
.bottom-container p {
  color: silver;
}
.bottom-container a {
  text-decoration: none;
}
.bottom-container a:hover {
  color: #6ad2bb;
}
.bottom-container a:visited {
  color: purple;
}
.topbutton {
  background-color:#11999E;
  border-radius: 100%;
  padding: 2em;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-image: image(CSSimages2/up-arrow.png);
}
