body {
  margin:0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*-----------------------------First Page----------------------------*/

.top-container {
  position: relative;
  padding-bottom: 37.5rem;
  background-color: #ecfcff;

}

.cloud1 {
position: absolute;
right: 11.25rem;
top: 1.25rem;
width:11.25rem;
height:3.75rem;
}

.cloud2 {
position: absolute;
left: 16.25rem;
top:21.875rem;

}

#imx {                                 /*------- header ------*/
  font-size: 5rem;
  font-family: 'Arvo', serif;
  font-weight: normal;
  display: inline-block;
  margin: 6.25rem auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
#awebx {                                /*------- paragraph ------*/
    margin: 0;
    position: relative;
    top: 1.5625rem;
    font-family: 'Arvo', serif;
    font-size: 2rem;
    color: #66BFBF;

}

.mtn {
position: absolute;
right: 17.1875rem;
bottom: 0;
height:37.5rem;
width: 43.75rem;
}
 /*------------------------------- Second Page --------------------------*/

 .middle-container {
margin:0;
margin-top: 4.6875rem;

}
.pc {                          /* -----circular images----*/
  width: 12.5rem;
  height:12.5rem;
  float: left;
  padding-right: 1.875rem;

}
.avatar{
  border-radius: 100%;
  background-color: white;

}
.contact {
  width: 12.5rem;
  height: 12.5rem;
  margin-top: 2.5rem;
}
.art {
  width: 12.5rem;
  height: 12.5rem;
  float: right;
  padding-left: 1.875rem;
}                                /* -----circular images----*/
.hr {
  width: 5%;
  border: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: lightgrey;

}

.profile p {
  display: inline-block;
  line-height: 2;
  word-spacing: 4px;
}

.profile h2 {
  color:  #11999E
}

.profile {
  width: 18.75rem;
  margin: 5rem auto 7.5rem auto;
}

.skills {
margin-top: 6.875rem;
margin-bottom: 6.25rem;
}
.skills h2, h3 {
  margin-bottom: 1.25rem;
  color:  #11999E;
}
.skill-row {
  width: 55%;
  margin:2.1875rem auto;
  text-align: left;
  line-height: 2;
  word-spacing: 4px;

}
.skill-row img {
  width: 25%;
  height: 25%;
}
.skill-row h3 {
  padding-top: 15px;
}

/*-------------------------------- Third Page ----------------------------*/
.messageme {
    background: #45b29a;      /*---------- message me button---------*/
    padding: .5em 1em .5em 1em;
    color: white;
    display: inline-block;
    border-radius: 10%;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: 1.875rem;
}
.messageme:hover {
  background: #6ad2bb;
}
.contact-me h2, h3, a {
  color:  #11999E;
  margin: 10px auto;
}
.contact-me {
  margin: 3.75rem auto 8.75rem auto;
  line-height: 2;
}
.bottom-container {
  background-color: #e1faff;
  padding: 3.125rem;
  padding-bottom: 5px;
}
.bottom-container p {
  color: silver;
}
